{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block content %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Ut fuga autem voluptas ipsa.</li>
<li>Repellendus aliquid voluptas repudiandae quia?</li>
<li>Et distinctio unde cumque ad.</li>
<li>Eius, nostrum dicta. Vero, nesciunt.</li>
<li>In veritatis dolorum quam facilis.</li>
<li>Dolorem quibusdam possimus et officiis?</li>
<li>Possimus fuga magnam dignissimos reprehenderit.</li>
<li>Sint provident cupiditate blanditiis maiores.</li>
<li>Neque magni eligendi quasi molestiae.</li>
<li>Porro repudiandae repellendus reiciendis error.</li>
<li>Exercitationem consequuntur quasi quod enim?</li>
<li>Quam debitis placeat autem quo?</li>
<li>Assumenda saepe eaque similique nam.</li>
<li>Quod earum praesentium voluptate consequuntur?</li>
<li>Ipsam nisi quasi possimus ratione!</li>
<li>Fuga pariatur aliquid voluptatem quaerat.</li>
<li>Consequuntur eos quasi ipsum atque.</li>
<li>Est, esse quo. Quos, omnis.</li>
<li>Excepturi earum quia mollitia ea.</li>
<li>Fuga iste maiores vel perferendis.</li>
<li>Culpa beatae molestiae corrupti nulla!</li>
<li>Ipsam accusantium atque velit aliquam!</li>
<li>Maiores doloremque itaque ea reprehenderit.</li>
<li>Eaque explicabo nobis illum nulla!</li>
<li>Quod consequuntur quia doloribus inventore.</li>
<li>Natus reiciendis minima debitis maiores!</li>
<li>Quas modi perferendis hic culpa.</li>
<li>Voluptatum sed quod neque consequuntur!</li>
<li>Sequi iusto ab quae adipisci?</li>
{% endblock %}