{% extends 'base.html' %}

{% block title %} Главная {% endblock %}


{% block body %}

<div class="container text-center">
    <div class="row" style="margin: 10px;">
      <div class="col " style="margin: 3px;">
        <div class="list-group" id="right1">
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <span class="link-name">Супермаркет</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="link-name">Красота и здоровье</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-comment"></i>                
                <span class="link-name">Дом и офис</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <span class="link-name">Мода</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-audio-description" aria-hidden="true"></i>
                <span class="link-name">Электроника</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-cubes" aria-hidden="true"></i>
                <span class="link-name">Игры</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-child" aria-hidden="true"></i>
                <span class="link-name">Товары для детей</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <span class="link-name">Спорт</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <span class="link-name">Сад и огород</span>
            </a>

        </div>
      </div>


      <div class="col-md-7" style="margin: 3px;">
        <img src="../static/images/center.gif" alt="" style="width: 600px; height: 365px; border-radius: 10px;">
      </div>
      <div class="col-md-2">
        <div class="row" style="background-color: white; border-radius: 10px;">
        
            <div class="row" style="display: flex; margin-top: 5px;">
                <div class="col">
                    <img src="../static/images/help.png" alt="" style="width: 30px; height: 30px; margin-left: -30px;">
                </div>
                <div class="col">
                    <h6 style="font-family:'Times New Roman', Times, serif; font-size: 12px; margin-left: -40px; font-weight: 600;">Помощь</h6>
                    <p style="font-size: small; color: gray; margin-left: -30px; margin-top: -10px;">Гарантия</p>
                </div>
            </div>

            <div class="row" style="display: flex; margin-top: 5px;">
                <div class="col">
                    <img src="../static/images/return.png" alt="" style="width: 30px; height: 30px; margin-left: -30px;">
                </div>
                <div class="col">
                    <h6 style="font-family:'Times New Roman', Times, serif; font-size: 12px; margin-left: -40px; font-weight: 600;">Возврат</h6>
                    <p style="font-size: small; color: gray; margin-left: -30px; margin-top: -10px;">Возврат</p>
                </div>
            </div>

            <div class="row" style="display: flex; margin-top: 5px;">
                <div class="col">
                    <img src="../static/images/payment.png" alt="" style="width: 30px; height: 30px; margin-left: -30px;">
                </div>
                <div class="col">
                    <h6 style="font-family:'Times New Roman', Times, serif; font-size: 12px; margin-left: -40px; font-weight: 600;">Продать</h6>
                    <p style="font-size: small; color: gray; margin-left: -30px; margin-top: -10px;">Доставка</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 12px;">
            <div class="col">
                <img src="../static/images/right2.gif" alt="" class="right2">
            </div>
        
        </div>
      </div>
    </div>
</div>


<div class="container text-center">
    <div class="row" style="margin: 8px;">
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/techweek.png" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Технологии</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/FreeDelivery.png" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Бесплатная доставка</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/food.png" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Еда</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/airtime.png" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Счета</h6>
        </div>
 
    </div>
</div>


<div class="container text-center">
    <div class="row" style="margin: 8px; background-color: rgb(219, 218, 218);" id="column">

        {% for item in items %}

        <div class="col" style="background-color: white;">
        
            <img src="{{ item.product_picture }}" alt="" style="height: 202px; width: 180px; border-radius: 10px;">

            <div class="row" style="margin-top: 5px;">
                <h6 style="color: gray;">{{ item.product_name }}</h6>
            </div>

            <div class="row" style="margin-top: 10px;">
            
                <div class="col">

                    <h5 style="font-weight: 600; font-family: 'Times New Roman', Times, serif;">{{ item.current_price }} руб</h5>
                    <strike><p style="color: gray;">{{ item.previous_price}} руб</p></strike>
                </div>

                <div class="col">
                    <a href="/add-to-cart/{{ item.id }}">Добавить</a>
                </div>
            
            </div>

            <div class="row">
                <p>{{ item.in_stock }} осталось </p>
            </div>
        </div>
    
        {% endfor %}

    </div>
</div>


{% endblock %}