{% extends 'base.html' %}

{% block title %} Товары магазина {% endblock %}


{% block body %}

{% if items | length < 1 %}
<h3 style="color: white;">Нет товаров </h3>

{% else %}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Дата добавления</th>
            <th scope="col">Название</th>
            <th scope="col">Предыдущая цена</th>
            <th scope="col">Текущая цена</th>
            <th scope="col">В наличии</th>
            <th scope="col">Изображение товара</th>
            <th scope="col">Распродажа</th>
            <th scope="col">ОК</th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}

        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.date_added }}</td>
            <td>{{ item.product_name }}</td>
            <td>{{ item.previous_price }}</td>
            <td>{{ item.current_price }}</td>
            <td>{{ item.in_stock }}</td>
            <td><img src="{{ item.product_picture }}" alt="" style="height: 50px; width: 50px; border-radius: 2px;"></td>
            <td>{{ item.flash_sale }}</td>


            <td>
                <a href="/update-item/{{ item.id }}">Обновить</a>
                <br>
                <a href="/delete-item/{{ item.id }}">Удалить</a>
            </td>

        </tr>


        {% endfor %}
    </tbody>
</table>


{% endif %}


{% endblock %}