{% extends 'forms.html' %}

{% block title %} Регистрация {% endblock %}

{% block body %}

<!-- Sign Up section start -->

<section class="base" id="base-signup">
    <div class="base-content">
        <div class="form">
            <h3>
                Создать аккаунт
            </h3>
            
            <hr class="first">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email"><h4>Email</h4>{{ form.email }} <hr> </div>
                <div class="name"><h4>Имя пользователя</h4>{{ form.username }} <hr></div>
                <div class="password"><h4>Пароль</h4>{{ form.password1 }} <hr></div>
                <div class="password"><h4>Подтвердить пароль</h4>{{ form.password2 }} <hr></div>

                <div class="buttons">
                    <a href="/login"> Войти</a>
                    {{ form.submit() }}
                </div>


            </form>
        </div>
    </div>
</section>


{% endblock %}